@import url(http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold);    

html {
    background-color: rgb(43, 21, 53);
	background: -moz-linear-gradient(top, #2B1535 0%, #745589 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2B1535), color-stop(100%,#745589)); /* webkit */
	width: 100%;
	height: 100%;    
}

body {
    font-size: 16px;
	color: rgba(255, 255, 255, 0.75);
	text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
	width: 900px;
	margin: 40px auto;
	padding: 20px;
	font-family: "Droid Sans", sans-serif;
	border: 2px solid rgba(255, 255, 255, 0.75);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

h1 {
	text-align: center;
	font-size: 50px;
}

header, footer {
	margin: 20px 0;
}

p {
	margin: 20px 0;
	padding: 10px 0;
}

footer {
	font-size: 13px;
	text-align: right;
	font-style: italic;
}